/Hiromi.Bot/bin/
/Hiromi.Bot/appsettings.yaml
/Hiromi.sln.DotSettings.user
/.idea/
/Hiromi.Services/obj/
/Hiromi.Services/bin/
/Hiromi.Bot/obj/
/Hiromi.Data/bin/
/Hiromi.Data/obj/
/Hiromi.Bot/credentials.json
